.camera-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px 20px 20px 20px;
  /* leave space for fixed header */
  /*box-sizing: border-box;*/
  font-family: Arial, sans-serif;
}

.student-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.student-card {
  background-color: #1a6503ff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 0.2s;
}

.student-card:hover {
  transform: scale(1.02);
}

.video-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-video {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background-color: black;
  object-fit: cover;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
}

.student-info {
  text-align: center;
}

.student-name {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 2px;
}

.student-reg {
  color: gray;
  font-size: 0.85rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.controls-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.student-controls button {
  /*background-color: #b60000;*/
  background-color: #1a6503ff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.student-controls button:hover {
  background-color: rgb(20, 77, 2);
  ;
}

/* Volume Meter */
.mic-meter {
  width: 10px;
  height: 150px;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.mic-level {
  width: 100%;
  height: 0%;
  transition: height 0.1s, background-color 0.2s, box-shadow 0.2s;
}

/* Error Message */
.student-controls .error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* Shake Animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-5px);
  }

  40% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(-5px);
  }

  80% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s;
}