.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #1a6503ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 0 20px;*/
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.header-left h1 {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 10px;
}

.logout-btn {
  background-color: #b60000;
  color: white;
  border: none;
  margin-right: 120px;
  padding: none;
  border-radius: 80px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #a50202;
  transform: scale(1.05);
}